* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #FFFFFF;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  max-width: 980px;
  margin: 0 auto;
}

@font-face {
  font-family: Proxima;
  src: url(../fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
@font-face {
  font-family: Gill;
  src: url(../fonts/GillSans.ttc);
}
.nav-blue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 980px;
  height: 85px;
  margin: 0 auto;
  border-bottom: 2px solid #fff;
  font-family: "ProximaNovaScOsfExtraCondensed";
  position: relative;
  z-index: 99;
}
.nav-blue .logo {
  width: 92px;
  height: 42px;
  border: 2px;
  border-color: #fff;
  border-style: solid;
}
.nav-blue .logo .logoText {
  color: #FFFFFF;
  font-family: Gill;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}
.nav-blue .links a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 15px;
  font-family: Gill;
}
.nav-blue .links span {
  color: #79addc;
  margin: 0px 20px;
}

.nav-black {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 980px;
  height: 85px;
  margin: 0 auto;
  border-bottom: 2px solid black;
  font-family: "ProximaNovaScOsfExtraCondensed";
  position: relative;
  z-index: 99;
}
.nav-black .logo {
  width: 92px;
  height: 42px;
  border: 2px;
  border-color: #000000;
  border-style: solid;
}
.nav-black .logo .logoText {
  color: #000000;
  font-family: Gill;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}
.nav-black .links a {
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  font-family: Gill;
}
.nav-black .links span {
  color: #79addc;
  margin: 0px 20px;
}

@media screen and (max-width: 800px) {
  .nav-blue {
    max-width: 450px;
  }

  .nav-blue .logo {
    max-width: 70px;
  }

  .nav-blue .links span {
    margin: 0px 5px;
  }
}
@media screen and (max-width: 800px) {
  .nav-black {
    max-width: 450px;
  }

  .nav-black .logo {
    max-width: 70px;
  }

  .nav-black .links span {
    margin: 0px 5px;
  }
}
@font-face {
  font-family: Proxima;
  src: url(../fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
@font-face {
  font-family: Gill;
  src: url(../fonts/GillSans.ttc);
}
.banner {
  max-width: 1280px;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: -85px auto 0 auto;
}
.banner .bannerContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .bannerContentContainer .homeTitle {
  height: 60px;
  position: absolute;
  top: 194px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #FFFFFF;
  font-family: Proxima;
}
.banner .bannerContentContainer .homeText {
  width: 416px;
  height: 46px;
  position: absolute;
  top: 283px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
  font-style: italic;
}
.banner a {
  width: 122px;
  height: 40px;
}
.banner a .readMore {
  width: 122px;
  height: 40px;
  color: #FFFFFF;
  border: solid;
  border-color: #79ADDC;
  background-color: #79ADDC;
  font-size: 15px;
  cursor: pointer;
  margin-top: 369px;
  font-family: Gill;
}

@font-face {
  font-family: Proxima;
  src: url(../fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
@font-face {
  font-family: Gill;
  src: url(../fonts/GillSans.ttc);
}
.form-content {
  max-width: 818px;
  min-height: 200px;
  margin: 0 auto;
}
.form-content .bookingFormTitle {
  font-size: 60px;
  font-family: Proxima;
}
.form-content .row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.form-content .row1 .firstName {
  width: 344px;
  height: 58px;
}
.form-content .row1 .longField {
  width: 453px;
}
.form-content .row1 .longerField {
  width: 698px;
}
.form-content .row1 .icon {
  margin-left: -40px;
}
.form-content .row1 input {
  width: 344px;
  height: 58px;
  border-color: #79ADDC;
  padding-left: 10px;
  border-style: solid;
  border-width: 1px;
}
.form-content .row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.form-content .row2 .formText {
  font-size: 18px;
  margin-top: 10px;
  font-family: Gill;
}
.form-content .row2 .longField {
  width: 453px;
}
.form-content .row2 .longerField {
  width: 698px;
}
.form-content .row2 .icon {
  margin: 20px -35px;
  position: absolute;
  font-size: large;
}
.form-content .row2 input {
  width: 344px;
  height: 58px;
  border-color: #79ADDC;
  padding-left: 10px;
  border-style: solid;
  border-width: 1px;
}
.form-content .row3 .selectors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  font-family: Gill;
}
.form-content .row3 .number {
  width: 103px;
  height: 58px;
  margin: 0 auto;
  border-color: #79addc;
  border-style: solid;
}
.form-content .row3 .number:hover {
  cursor: pointer;
}
.form-content .row3 .identifier {
  width: 39px;
  height: 20px;
  text-align: center;
}

.row4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.row4 input {
  width: 818px;
  height: 192px;
  border-color: #79ADDC;
  padding-left: 10px;
  border-style: solid;
  border-width: 1px;
}

.homeSubmit {
  width: 813px;
  height: 61px;
  border-radius: 30px;
  color: #FFFFFF;
  border: solid;
  background-color: #79ADDC;
  margin: 37px auto 0 auto;
  font-size: 15px;
  cursor: pointer;
  font-family: Gill;
}

@media screen and (max-width: 800px) {
  .form-content {
    max-width: 450px;
  }
  .form-content .bookingFormTitle {
    text-align: center;
  }
  .form-content .row1 .firstName {
    width: 200px;
    margin-right: 10px;
  }
  .form-content .row1 .longField {
    width: 400px;
  }
  .form-content .row2 .formText {
    margin-right: 10px;
  }
  .form-content .row2 .longerField {
    width: 387px;
  }
  .form-content .row3 .selectors {
    width: 470px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    margin-left: -20px;
  }
  .form-content .row3 .number {
    width: 103px;
    height: 58px;
    margin: 0 auto;
    border-color: #79addc;
    border-style: solid;
  }
  .form-content .row3 .identifier {
    width: 39px;
    height: 20px;
    text-align: center;
    margin-right: 30px;
    margin-left: 20px;
  }
  .form-content .homeSubmit {
    width: 450px;
    margin-bottom: 104px;
    background-color: #79ADDC;
    height: 60px;
    text-align: center;
    border: none;
    color: #fff;
    border-radius: 50px;
  }
}
@font-face {
  font-family: Proxima;
  src: url(../fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
@font-face {
  font-family: Gill;
  src: url(../fonts/GillSans.ttc);
}
.tileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}
.tileContainer .tile1 {
  width: 236px;
  height: 304px;
  background-color: black;
  margin: 55px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tour-01.jpg");
  background-size: cover;
  background-position: center;
}
.tileContainer .tile1 .destinationTitle {
  width: 214px;
  height: 60px;
  color: #FFFFFF;
  text-align: center;
  font-size: 60px;
  margin: 56px auto 0 auto;
  font-family: Proxima;
}
.tileContainer .tile1 .destinationPrice {
  width: 152px;
  height: 30px;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  margin: 4px auto 0 auto;
  font-family: Proxima;
}
.tileContainer .tile1 a {
  width: 133px;
  height: 40px;
  margin-left: 50px;
  font-family: Gill;
}
.tileContainer .tile1 a .learnMore {
  margin: 58px auto 0 auto;
  width: 133px;
  height: 40px;
  border-radius: 20px;
  border-style: solid;
  border-color: #79ADDC;
  color: #FFFFFF;
  background-color: #79ADDC;
  cursor: pointer;
  font-family: Gill;
}
.tileContainer .tile2 {
  width: 236px;
  height: 304px;
  background-color: black;
  margin: 55px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tour-02.jpg");
  background-size: cover;
  background-position: center;
}
.tileContainer .tile2 .destinationTitle {
  width: 214px;
  height: 60px;
  color: #FFFFFF;
  text-align: center;
  font-size: 60px;
  margin: 56px auto 0 auto;
  font-family: Proxima;
}
.tileContainer .tile2 .destinationPrice {
  width: 152px;
  height: 30px;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  margin: 4px auto 0 auto;
  font-family: Proxima;
}
.tileContainer .tile2 a {
  width: 133px;
  height: 40px;
  margin-left: 50px;
  font-family: Gill;
}
.tileContainer .tile2 a .learnMore {
  margin: 58px auto 0 auto;
  width: 133px;
  height: 40px;
  border-radius: 20px;
  border-style: solid;
  border-color: #79ADDC;
  color: #FFFFFF;
  background-color: #79ADDC;
  cursor: pointer;
  font-family: Gill;
}
.tileContainer .tile3 {
  width: 236px;
  height: 304px;
  background-color: black;
  margin: 55px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tour-03.jpg");
  background-size: cover;
  background-position: center;
}
.tileContainer .tile3 .destinationTitle {
  width: 214px;
  height: 60px;
  color: #FFFFFF;
  text-align: center;
  font-size: 60px;
  margin: 56px auto 0 auto;
  font-family: Proxima;
}
.tileContainer .tile3 .destinationPrice {
  width: 152px;
  height: 30px;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  margin: 4px auto 0 auto;
  font-family: Proxima;
}
.tileContainer .tile3 a {
  width: 133px;
  height: 40px;
  margin-left: 50px;
  font-family: Gill;
}
.tileContainer .tile3 a .learnMore {
  margin: 58px auto 0 auto;
  width: 133px;
  height: 40px;
  border-radius: 20px;
  border-style: solid;
  border-color: #79ADDC;
  color: #FFFFFF;
  background-color: #79ADDC;
  cursor: pointer;
  font-family: Gill;
}

@media screen and (max-width: 800px) {
  .tileContainer {
    flex-direction: column;
    align-items: center;
  }

  a {
    text-decoration: none;
  }
  a .learnMore {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@font-face {
  font-family: Proxima;
  src: url(../fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
@font-face {
  font-family: Gill;
  src: url(../fonts/GillSans.ttc);
}
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1280px;
  height: 100px;
  background-color: #79ADDC;
  margin: 100px auto 0 auto;
}
.footer .logo {
  width: 120px;
  height: 42px;
  border: 2px;
  border-color: #fff;
  border-style: solid;
  margin-left: 20px;
}
.footer .logo .logoText {
  color: #FFFFFF;
  font-family: Gill;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}
.footer .footerText {
  font-size: 12px;
  color: #FFFFFF;
  margin: auto 120px auto 120px;
  font-family: Gill;
}
.footer .socialMediaContainer i {
  color: #FFFFFF;
  margin-right: 22px;
  font-size: x-large;
}

@font-face {
  font-family: Proxima;
  src: url(../fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
@font-face {
  font-family: Gill;
  src: url(../fonts/GillSans.ttc);
}
.about {
  margin-top: 110px;
  margin-bottom: 180px;
}
.about .about-header h1 {
  font-family: Proxima;
  font-size: 60px;
  font-weight: lighter;
  margin-bottom: -4px;
}
.about .about-header hr {
  width: 150px;
  border: 1px solid;
  margin-bottom: 36px;
}
.about .about-header p {
  font-family: Gill;
  font-size: 16px;
}
.about .about-client-quotes {
  margin-top: 107px;
}
.about .about-client-quotes .client-quote-title {
  font-family: Proxima;
  font-size: 40px;
}
.about .about-client-quotes hr {
  width: 210px;
  border: 1px solid;
  margin-bottom: 36px;
  margin-top: -10px;
}
.about .about-client-quotes .client-box {
  position: relative;
  display: flex;
  max-width: 722px;
  margin-bottom: 37px;
}
.about .about-client-quotes .client-box .client-image {
  width: 260px;
  height: 150px;
  overflow: hidden;
  margin-right: 21px;
}
.about .about-client-quotes .client-box .client-image img {
  width: 100%;
}
.about .about-client-quotes .client-box .client-quote {
  max-width: 440px;
  font-family: Gill;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 20px;
}
.about .about-client-quotes .client-box .client-name {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: Proxima;
  font-size: 20px;
  color: #79ADDC;
}

@media screen and (max-width: 800px) {
  .about {
    max-width: 450px;
    text-align: center;
    margin: 60px 20px 90px 20px;
  }
  .about .about-header hr {
    margin-left: 150px;
  }
  .about .about-client-quotes {
    margin-top: 90px;
  }
  .about .about-client-quotes hr {
    margin-left: 127px;
  }
  .about .about-client-quotes .client-box {
    position: relative;
    display: flex;
    max-width: 722px;
    margin-bottom: 37px;
    flex-direction: column;
    align-items: center;
  }
  .about .about-client-quotes .client-box .client-image {
    margin: 10px 0px 10px 17px;
  }
  .about .about-client-quotes .client-name {
    margin-right: 170px;
  }
}
.about-promo-1 {
  max-width: 980px;
  min-height: 304px;
  display: flex;
  justify-content: space-evenly;
}
.about-promo-1 .promo-1 {
  height: 304px;
  width: 235px;
  background-color: #ffdab9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-promo-1 .promo-1 .promo-text {
  font-size: 60px;
  font-family: Proxima;
  margin: 0;
}
.about-promo-1 .promo-1 .promo-price {
  font-size: 30px;
  font-family: Proxima;
}
.about-promo-1 .promo-1 .read-btn {
  background-color: #79ADDC;
  padding: 8px 19px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-family: Gill;
  font-size: 15px;
  margin-top: 56px;
}
.about-promo-1 .promo-2 {
  height: 304px;
  width: 235px;
  background-color: #ffdab9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-promo-1 .promo-2 .promo-text {
  font-size: 60px;
  font-family: Proxima;
  margin: 0;
}
.about-promo-1 .promo-2 .promo-price {
  font-size: 30px;
  font-family: Proxima;
}
.about-promo-1 .promo-2 .read-btn {
  background-color: #79ADDC;
  padding: 8px 19px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-family: Gill;
  font-size: 15px;
  margin-top: 56px;
}
.about-promo-1 .promo-3 {
  height: 304px;
  width: 235px;
  background-color: #ffdab9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-promo-1 .promo-3 .promo-text {
  font-size: 60px;
  font-family: Proxima;
  margin: 0;
}
.about-promo-1 .promo-3 .promo-price {
  font-size: 30px;
  font-family: Proxima;
}
.about-promo-1 .promo-3 .read-btn {
  background-color: #79ADDC;
  padding: 8px 19px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-family: Gill;
  font-size: 15px;
  margin-top: 56px;
}

.about-promo-2 {
  max-width: 980px;
  min-height: 304px;
  display: flex;
  justify-content: space-evenly;
}
.about-promo-2 .promo-4 {
  height: 304px;
  width: 235px;
  background-color: #ffdab9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-04.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-promo-2 .promo-4 .promo-text {
  font-size: 60px;
  font-family: Proxima;
}
.about-promo-2 .promo-4 .promo-price {
  font-size: 30px;
  font-family: Proxima;
  margin: 0;
}
.about-promo-2 .promo-4 .read-btn {
  background-color: #79ADDC;
  padding: 8px 19px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-family: Gill;
  font-size: 15px;
  margin-top: 56px;
}
.about-promo-2 .promo-5 {
  height: 304px;
  width: 235px;
  background-color: #ffdab9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-05.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-promo-2 .promo-5 .promo-text {
  font-size: 60px;
  font-family: Proxima;
}
.about-promo-2 .promo-5 .promo-price {
  font-size: 30px;
  font-family: Proxima;
  margin: 0;
}
.about-promo-2 .promo-5 .read-btn {
  background-color: #79ADDC;
  padding: 8px 19px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-family: Gill;
  font-size: 15px;
  margin-top: 56px;
}
.about-promo-2 .promo-6 {
  height: 304px;
  width: 235px;
  background-color: #ffdab9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-06.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-promo-2 .promo-6 .promo-text {
  font-size: 60px;
  font-family: Proxima;
}
.about-promo-2 .promo-6 .promo-price {
  font-size: 30px;
  font-family: Proxima;
  margin: 0;
}
.about-promo-2 .promo-6 .read-btn {
  background-color: #79ADDC;
  padding: 8px 19px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-family: Gill;
  font-size: 15px;
  margin-top: 56px;
}

.about-promo-3 {
  max-width: 980px;
  min-height: 304px;
  display: flex;
  justify-content: space-evenly;
}
.about-promo-3 .promo-7 {
  height: 304px;
  width: 235px;
  background-color: #ffdab9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-07.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-promo-3 .promo-7 .promo-text {
  font-size: 60px;
  font-family: Proxima;
}
.about-promo-3 .promo-7 .promo-price {
  font-size: 30px;
  font-family: Proxima;
  margin: 0;
}
.about-promo-3 .promo-7 .read-btn {
  background-color: #79ADDC;
  padding: 8px 19px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-family: Gill;
  font-size: 15px;
  margin-top: 56px;
}
.about-promo-3 .promo-8 {
  height: 304px;
  width: 235px;
  background-color: #ffdab9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-08.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-promo-3 .promo-8 .promo-text {
  font-size: 60px;
  font-family: Proxima;
}
.about-promo-3 .promo-8 .promo-price {
  font-size: 30px;
  font-family: Proxima;
  margin: 0;
}
.about-promo-3 .promo-8 .read-btn {
  background-color: #79ADDC;
  padding: 8px 19px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-family: Gill;
  font-size: 15px;
  margin-top: 56px;
}
.about-promo-3 .promo-9 {
  height: 304px;
  width: 235px;
  background-color: #ffdab9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-09.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-promo-3 .promo-9 .promo-text {
  font-size: 60px;
  font-family: Proxima;
}
.about-promo-3 .promo-9 .promo-price {
  font-size: 30px;
  font-family: Proxima;
  margin: 0;
}
.about-promo-3 .promo-9 .read-btn {
  background-color: #79ADDC;
  padding: 8px 19px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-family: Gill;
  font-size: 15px;
  margin-top: 56px;
}

@media screen and (max-width: 800px) {
  .about-promo-1 {
    flex-direction: column;
    align-items: center;
  }

  .about-promo-2 {
    flex-direction: column;
    align-items: center;
  }

  .about-promo-3 {
    flex-direction: column;
    align-items: center;
  }
}
.about-hero-1 {
  max-width: 980px;
  height: 413px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  margin-top: 49px;
}
.about-hero-1 .about-hero-text {
  font-size: 50px;
  font-family: Proxima;
  position: absolute;
  top: 10px;
  left: 10px;
}
.about-hero-1 .about-price-text {
  font-size: 30px;
  margin-bottom: 0px;
  /* takes out the margin from <p>*/
  font-style: italic;
  position: absolute;
  font-family: Proxima;
  right: 10px;
  bottom: 10px;
}

.about-hero-2 {
  max-width: 980px;
  height: 413px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  margin-top: 49px;
}
.about-hero-2 .about-hero-text {
  font-size: 50px;
  font-family: Proxima;
  position: absolute;
  top: 10px;
  left: 10px;
}
.about-hero-2 .about-price-text {
  font-size: 30px;
  margin-bottom: 0px;
  /* takes out the margin from <p>*/
  font-style: italic;
  position: absolute;
  font-family: Proxima;
  right: 10px;
  bottom: 10px;
}

.about-hero-3 {
  max-width: 980px;
  height: 413px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  margin-top: 49px;
}
.about-hero-3 .about-hero-text {
  font-size: 50px;
  font-family: Proxima;
  position: absolute;
  top: 10px;
  left: 10px;
}
.about-hero-3 .about-price-text {
  font-size: 30px;
  margin-bottom: 0px;
  /* takes out the margin from <p>*/
  font-style: italic;
  position: absolute;
  font-family: Proxima;
  right: 10px;
  bottom: 10px;
}

.about-hero-4 {
  max-width: 980px;
  height: 413px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-04.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  margin-top: 49px;
}
.about-hero-4 .about-hero-text {
  font-size: 50px;
  font-family: Proxima;
  position: absolute;
  top: 10px;
  left: 10px;
}
.about-hero-4 .about-price-text {
  font-size: 30px;
  margin-bottom: 0px;
  /* takes out the margin from <p>*/
  font-style: italic;
  position: absolute;
  font-family: Proxima;
  right: 10px;
  bottom: 10px;
}

.about-hero-5 {
  max-width: 980px;
  height: 413px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-05.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  margin-top: 49px;
}
.about-hero-5 .about-hero-text {
  font-size: 50px;
  font-family: Proxima;
  position: absolute;
  top: 10px;
  left: 10px;
}
.about-hero-5 .about-price-text {
  font-size: 30px;
  margin-bottom: 0px;
  /* takes out the margin from <p>*/
  font-style: italic;
  position: absolute;
  font-family: Proxima;
  right: 10px;
  bottom: 10px;
}

.about-hero-6 {
  max-width: 980px;
  height: 413px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-06.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  margin-top: 49px;
}
.about-hero-6 .about-hero-text {
  font-size: 50px;
  font-family: Proxima;
  position: absolute;
  top: 10px;
  left: 10px;
}
.about-hero-6 .about-price-text {
  font-size: 30px;
  margin-bottom: 0px;
  /* takes out the margin from <p>*/
  font-style: italic;
  position: absolute;
  font-family: Proxima;
  right: 10px;
  bottom: 10px;
}

.about-hero-7 {
  max-width: 980px;
  height: 413px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-07.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  margin-top: 49px;
}
.about-hero-7 .about-hero-text {
  font-size: 50px;
  font-family: Proxima;
  position: absolute;
  top: 10px;
  left: 10px;
}
.about-hero-7 .about-price-text {
  font-size: 30px;
  margin-bottom: 0px;
  /* takes out the margin from <p>*/
  font-style: italic;
  position: absolute;
  font-family: Proxima;
  right: 10px;
  bottom: 10px;
}

.about-hero-8 {
  max-width: 980px;
  height: 413px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-08.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  margin-top: 49px;
}
.about-hero-8 .about-hero-text {
  font-size: 50px;
  font-family: Proxima;
  position: absolute;
  top: 10px;
  left: 10px;
}
.about-hero-8 .about-price-text {
  font-size: 30px;
  margin-bottom: 0px;
  /* takes out the margin from <p>*/
  font-style: italic;
  position: absolute;
  font-family: Proxima;
  right: 10px;
  bottom: 10px;
}

.about-hero-9 {
  max-width: 980px;
  height: 413px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour-09.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  margin-top: 49px;
}
.about-hero-9 .about-hero-text {
  font-size: 50px;
  font-family: Proxima;
  position: absolute;
  top: 10px;
  left: 10px;
}
.about-hero-9 .about-price-text {
  font-size: 30px;
  margin-bottom: 0px;
  /* takes out the margin from <p>*/
  font-style: italic;
  position: absolute;
  font-family: Proxima;
  right: 10px;
  bottom: 10px;
}

.tour-details-img-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.tour-details-img-container .tour-details-image-01 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url();
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/tour-israel/israel-tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tour-details-img-container .tour-details-image-02 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url();
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/tour-israel/israel-tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tour-details-img-container .tour-details-image-03 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url();
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/tour-israel/israel-tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-02-01 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-usa/usa-tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-02-02 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-usa/usa-tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-02-03 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-usa/usa-tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-03-01 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-aus/aus-tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-03-02 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-aus/aus-tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-03-03 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-aus/aus-tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-04-01 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-nz/nz-tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-04-02 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-nz/nz-tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-04-03 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-nz/nz-tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-05-01 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-france/france-tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-05-02 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-france/france-tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-05-03 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-france/france-tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-06-01 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-egypt/egypt-tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-06-02 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-egypt/egypt-tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-06-03 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-egypt/egypt-tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-07-01 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-japan/japan-tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-07-02 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-japan/japan-tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-07-03 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-japan/japan-tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-08-01 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-canada/canada-tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-08-02 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-canada/canada-tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-08-03 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-canada/canada-tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-09-01 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-uae/uae-tour-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-09-02 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-uae/uae-tour-02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-details-image-09-03 {
  height: 347px;
  width: 298px;
  margin-top: 40px;
  background-image: url(../images/tour-uae/uae-tour-03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-tour-header-1 {
  margin-top: 19px;
}
.about-tour-header-1 h1 {
  font-family: Proxima;
  font-size: 60px;
  font-weight: lighter;
  margin-bottom: -4px;
}
.about-tour-header-1 hr {
  width: 150px;
  border: 1px solid;
  margin-bottom: 36px;
}
.about-tour-header-1 p {
  font-family: Gill;
  font-size: 16px;
}

.about-tour-header-2 {
  margin-top: 80px;
}
.about-tour-header-2 h1 {
  font-family: Proxima;
  font-size: 60px;
  font-weight: lighter;
  margin-bottom: -4px;
}
.about-tour-header-2 hr {
  width: 150px;
  border: 1px solid;
  margin-bottom: 36px;
}
.about-tour-header-2 p {
  font-family: Gill;
  font-size: 16px;
}

.about-tour-header-3 {
  margin-top: 80px;
}
.about-tour-header-3 h1 {
  font-family: Proxima;
  font-size: 60px;
  font-weight: lighter;
  margin-bottom: -4px;
}
.about-tour-header-3 hr {
  width: 150px;
  border: 1px solid;
  margin-bottom: 36px;
}
.about-tour-header-3 p {
  font-family: Gill;
  font-size: 16px;
}

.book-now-btn {
  display: flex;
  justify-content: center;
}
.book-now-btn .read-btn {
  background-color: #79ADDC;
  padding: 8px 19px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-family: Gill;
  font-size: 15px;
  margin-top: 56px;
  margin-top: 60px;
}

@media screen and (max-width: 800px) {
  .about-hero-1 {
    max-width: 450px;
    margin: 60px 20px 40px 20px;
  }

  .about-hero-2 {
    max-width: 450px;
    margin: 60px 20px 40px 20px;
  }

  .about-hero-3 {
    max-width: 450px;
    margin: 60px 20px 40px 20px;
  }

  .about-hero-4 {
    max-width: 450px;
    margin: 60px 20px 40px 20px;
  }

  .about-hero-5 {
    max-width: 450px;
    margin: 60px 20px 40px 20px;
  }

  .about-hero-6 {
    max-width: 450px;
    margin: 60px 20px 40px 20px;
  }

  .about-hero-7 {
    max-width: 450px;
    margin: 60px 20px 40px 20px;
  }

  .about-hero-8 {
    max-width: 450px;
    margin: 60px 20px 40px 20px;
  }

  .about-hero-9 {
    max-width: 450px;
    margin: 60px 20px 40px 20px;
  }

  .tour-details-img-container {
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
  }

  .about-tour-header-1 {
    margin-top: 70px;
    text-align: center;
  }
  .about-tour-header-1 hr {
    margin-left: 175px;
  }
  .about-tour-header-1 p {
    text-align: left;
    margin-left: 10px;
    margin-top: -10px;
  }

  .about-tour-header-2 {
    margin-top: 70px;
    text-align: center;
  }
  .about-tour-header-2 hr {
    margin-left: 175px;
  }
  .about-tour-header-2 p {
    text-align: left;
    margin-left: 10px;
    margin-top: -10px;
  }

  .about-tour-header-3 {
    margin-top: 70px;
    text-align: center;
  }
  .about-tour-header-3 hr {
    margin-left: 175px;
  }
  .about-tour-header-3 p {
    text-align: left;
    margin-left: 10px;
    margin-top: -10px;
  }
}
.tours-hero {
  margin-top: 50px;
  width: 980px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tours-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tours-hero .tours-hero-text {
  font-family: Proxima;
  font-size: 60px;
  color: white;
}

@media screen and (max-width: 800px) {
  .tours-hero {
    max-width: 450px;
    margin: 50px auto 0px auto;
  }
}
@font-face {
  font-family: Proxima;
  src: url(../fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
@font-face {
  font-family: Gill;
  src: url(../fonts/GillSans.ttc);
}
.about {
  margin-top: 110px;
  margin-bottom: 180px;
}
.about .about-header h1 {
  font-family: Proxima;
  font-size: 60px;
  font-weight: lighter;
  margin-bottom: -4px;
}
.about .about-header hr {
  width: 150px;
  border: 1px solid;
  margin-bottom: 36px;
}
.about .about-header p {
  font-family: Gill;
  font-size: 16px;
}
.about .about-client-quotes {
  margin-top: 107px;
}
.about .about-client-quotes .client-quote-title {
  font-family: Proxima;
  font-size: 40px;
}
.about .about-client-quotes hr {
  width: 210px;
  border: 1px solid;
  margin-bottom: 36px;
  margin-top: -10px;
}
.about .about-client-quotes .client-box {
  position: relative;
  display: flex;
  max-width: 722px;
  margin-bottom: 37px;
}
.about .about-client-quotes .client-box .client-image {
  width: 260px;
  height: 150px;
  overflow: hidden;
  margin-right: 21px;
}
.about .about-client-quotes .client-box .client-image img {
  width: 100%;
}
.about .about-client-quotes .client-box .client-quote {
  max-width: 440px;
  font-family: Gill;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 20px;
}
.about .about-client-quotes .client-box .client-name {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: Proxima;
  font-size: 20px;
  color: #79ADDC;
}

@media screen and (max-width: 800px) {
  .about {
    max-width: 450px;
    text-align: center;
    margin: 60px 20px 90px 20px;
  }
  .about .about-header hr {
    margin-left: 150px;
  }
  .about .about-client-quotes {
    margin-top: 90px;
  }
  .about .about-client-quotes hr {
    margin-left: 127px;
  }
  .about .about-client-quotes .client-box {
    position: relative;
    display: flex;
    max-width: 722px;
    margin-bottom: 37px;
    flex-direction: column;
    align-items: center;
  }
  .about .about-client-quotes .client-box .client-image {
    margin: 10px 0px 10px 17px;
  }
  .about .about-client-quotes .client-name {
    margin-right: 170px;
  }
}

/*# sourceMappingURL=styles.css.map */
