.tours-hero {
    // border: solid 2px red;
    margin-top: 50px;
    width: $content-width;
    height: 200px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../images/tours-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .tours-hero-text {
        font-family: Proxima;
        font-size: 60px;
        color: white;
    }
}

@media screen and (max-width: 800px) {
    .tours-hero {
        max-width: 450px;
        margin: 50px auto 0px auto;
    }
}